@font-face {
    font-family: "MyFonts";
    src: url(Poppins-Bold.ttf);
}

table {
    border-collapse: collapse;
    width: 100%;
}
tr,th,td {
    border: 1px solid black;
    text-align: center;
}

.first-div {
    width: 500px;
    height: 100px;
    margin : auto
}

.common-div {
    margin: auto;
    background-color: aqua;
}

#test-id {
    color: red;
}

.test-form {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
}

.table-div {
    overflow: auto;
}
#table-id table tr:nth-child(even) {
    background-color: #2c73ef;
}

.div-width {
    width: 550px;
    margin: auto;
    border : 1px solid green;
    border-image: url(border.png) 30 round;
}
.div-max-width {
    max-width: 550px;
    margin: auto;
    border : 1px solid green
}
.z-index-img {
    position: absolute;
    z-index: -1;
    height: 5%;
    width: 30%;
}
.container{
    position: relative;
}
.red-box {
    position: relative;
    z-index : 1;
    height: 100px;
    border: 1px solid red;
}
.green-box {
    position: absolute;
    z-index : 2;
    left:200px;
    height: 100px;
    width: 24%;
    bottom: 15px;
    border: 1px solid green;
}
.yellow-box {
    position: absolute;
    z-index : 3;
    width: 150px;
    height: 50px;
    border: 1px solid yellow;
}
.nav{
    list-style-type: none;
}
li a{
    display: block;
    text-decoration: none;
}
li a:hover{
    background-color: #555;
    color: white;
}
.horizontal-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.horizontal-nav li {
    display: inline-block;
}
.horizontal-nav li a{
    color: white;
    padding: 10px 10px;
}
.horizontal-nav li:hover {
    color: #555;
}
.horizontal-nav li:active {
    color: #8bff43;
}
.dropdown {
    position: relative;
    display: inline-block;   
}
.dropdown-content {
    display: none;
    background-color: aliceblue;
    position: absolute;
    padding: 10px;
    min-width: 160px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
[title~="name"]{
    border: 5px solid royalblue;
    padding: 10px;                                                      
}
#gradient {
    height: 200px;
    background-image: linear-gradient(to bottom right,green,yellow);
}
.radial-gradient {
    margin-top: 100px;
    height: 300px;
    background-image: radial-gradient(red,green,yellow);
}
.translate{
    transform: scale(2,3);
    border: 1px solid blue;
    width: 500px;
    height: 50px;
}
.skew{
    transform: skew(0deg,20deg);
}
.rotate{
    margin-top:100px;
    transform: rotateX(150deg);
}
.transition{
    transition: width 2s;
    background: #FF0000;
    width: 100px;
    height: 100px;
}
.transition:hover{
    width: 300px;
}
.row {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    max-width: 1000px;
    height: auto;
    
}
.column-1{
    border: 1px solid teal;
    height: 100px;
    width: 100px;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
}
.column-2{
    border: 1px solid slategrey;
    height: 100px;
    width: 100px;
    margin: 0 10px;
}
.column-3{
    border: 1px solid seagreen;
    height: 100px;
    width: 100px;
    margin: 0 10px;
}
.grid-row{
    margin-top:50px;
    border : 1px solid blueviolet;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .row {
        flex-direction: column;
    }
    .column-1,
    .column-2,
    .column-3 {
        margin: 10px 0;
    }

    
}