:root {
    --primary :#183C59;
    --shadow:rgba(0, 0, 0, 0.25);
    --secondary : #173B58;
    --main-font : "DM Sans", "Arial", "sans-serif";
}
@font-face {
    font-family: "DM Sans";
    src: url(../fonts/DMSans-VariableFont_opsz,wght.ttf);
}

body {
    background-color: #F6F8FB;
}

/* Main Container CSS */
.container{
    padding: 115px 122px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
}

/* Grid First Element CSS */
.glimpses{
    max-width: 784px;
    height: 54px;
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: var(--secondary);
    justify-self: center;
}

/* Grid Second Element CSS */
.basic-english-card{
    grid-row:2/span 1;
    justify-items: center;
    max-width: 288px;
    border-radius: 8px;
    background-color: #FFF;
    height: 400px;
    padding-top: 14px;
    box-shadow: 04px 4px 4px #00000009;
}
.music-language-img {
    width: 250px;
}
.music-language-img img{
    width: 100%;
}
.basic-english-text{
    font-family: var(--main-font);
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;
    color: var(--primary);
    margin-top: 16px; 
    display: flex;  
    flex-direction: column;
    width: 248px;
    height: 20px;
}
.subject-div{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1E1E1E;
    width: 223px;
    height: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.book-img {
    width: 20px;
    height: 20px;
}
.book-img img{
    width: 100%;
    height: 100%;
}
.steps-div{
    display: flex;
    align-items: center;   
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    gap: 10px;
    width: 95px;
    height: 20px;
}

.steps-clock-div{
    display: flex;
    align-items: center;
    gap: 38px;
    margin-top: 16px;
}

.steps-img{
    width: 20px;
    height: 20px;
}
.steps-img img{
    width: 100%;
    height: 100%;
}
.clock-div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 95px;
    height: 20px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.clock-img{
    width: 20px;
    height: 20px;
}
.clock-img img{
    width: 100%;
    height: 100%;
}
.line-img{
    width: 250px;
    margin-top: 20px;
}
.line-img img{
    width: 100%;
}
.avatar-div{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.avatar-img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
.avatar-img img{
    width: 100%;
    height: 100%;
}
.three-dot-img{
    width: 30px;
    height: 30px;
}
.three-dot-img img{
    width: 100%;
    height: 100%;
}
.avatar-name{
    width: 134px;
}
.name {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.school-management{
    font-family: var(--main-font);
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
}
.unsplash-div{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}
.unsplash-img{
    width: 877px;
    height: 400px;
    border-radius: 8px;
}
.unsplash-img img{
    width: 100%;
    height: 100%;
}
.play-btn-img{
    height: 93px;
    width: 93px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.play-btn-img img{
    width: 100%;
    height: 100%;
}
.teacher-tool-div{
    grid-row:3;
    grid-column: 1/span 2;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 48px 57px;
    gap:11px;
    display: flex;
    flex-direction: column;

}
.teacher-tool-text{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
}
.teacher-tool-description{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

}

/* Media Query CSS */
@media screen and (max-width : 480px) {
    .container{
        padding: 35px;
    }
    .glimpses{
        font-size: 20px;
        width: 50%;
    }
    .unsplash-div{
        grid-column: 1;
        grid-row: 3;
    }
    .unsplash-img img{
        justify-self: center;
        width: 32%;
        height: 50%;
        object-fit: cover;
    }
    .teacher-tool-div{
        grid-column: 1;
        grid-row: 4;
        width: 20%;
    }
}